<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (handleAdd)="addIngriidient($event)">
            <div class="col-sm-2 form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" placeholder="Name" #recipeAmmount>
            </div>
        </app-shopping-edit>
        <hr>
       <ul class="list-group">
           <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingridient of ingredients">{{ingridient.name}}  ({{ingridient.ammount}})</a>
       </ul>
    </div>

</div>
