/* You can add global styles to this file, and also import other style files */
.m-l{
    margin-left: 2px;
}
.m-r{
    margin-right: 2px;
}
.m-t{
    margin-top: 2px;
}
.m-b{
    margin-bottom: 2px;
}
.m{
    margin: 2px;
}