<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.image}}" alt="" class="image-responsive" style="max-height: 300px;">

    </div>

</div>

<div class="row">
        <div class="col-xs-12">
                <h1>{{recipe.name}}</h1>
        </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropDown>
            <button type="button" class="btn btn-primary dropdown-toggle" >Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
               <li><a (click) ="addToShopingList()" style="cursor: pointer;">To Shoping List</a></li>
               <li><a style="cursor: pointer;" (click) ="onEdit()">Edit Recipe</a></li>
               <li><a style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{recipe.description}}</div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item m-t" *ngFor="let ingridient of recipe.ingridient">
                {{ingridient.name}} - {{ingridient.ammount}}
            </li>
        </ul>
    </div>
</div>